@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body{
    margin: 0px;
    font-family: 'Righteous', cursive;
    background-color: #F6DDCC;

}

main{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
h1{
    color: #D35400 ;
    font-size: 32pt;
    text-align: center;
    margin: 2rem; 
}



.container {
  max-width: 90%;
    height: 100%;
    text-align: center;
    max-width: 40%;
    width: 80%;
    margin: auto auto;
  }
  
  label,
  input {
    display: block;
    margin-top: 0.5rem;
    width: 100%;
  }
  
  label {
    font-weight: 500;
    font-size: 2rem;
    color: #D35400 ;
  }
  
  input {
    border-radius: 5px;
    padding: 0.5rem;
    font-size: large;
    margin: 1rem 0;
    color: #F6DDCC ;
    border: 1px solid #D35400 ;
    background:#D35400 ;
    font-weight: bold;
  }

  #check{
    margin-top: 50px;
    background: transparent;
    color: #D35400 ;
    margin: 0.5rem;
    text-decoration: none;
    padding:0.5rem;
    border: 0.5px solid var(--white);
    font-size: 20pt;
    font-family: 'Righteous', cursive;
    border-radius: 1.5rem;
    border: 2px solid #D35400;
}

  #output{
    text-align: center;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #D35400 ;
    font-family: 'Righteous', cursive;
    margin-bottom: 0px;
  }

/** Footers **/
.footer{
	text-align: center;
	padding-bottom: 0;
	color: #D35400;
	width: 100%;
	
  }
  
  .footer .footer-header{
	font-weight: bold;
	font-size: 1.3rem;
	margin: 0.5rem;
  }
  .footer .footer-head{
	font-size: 1rem;
	margin: 0.3rem;
  }
  .footer .link{
	color: #D35400;
	text-decoration: none;
  font-size: 1.5rem;
  }
  
  .footer ul{
	padding-inline-start: 0px;
  }
  
  .list-non-bullet {
	list-style: none;
	cursor: pointer;
  }
  
  .list-item-inline {
	display: inline;
	padding: 0rem 0.5rem;
	text-decoration: none;
  }

  .alert {
    padding: 20px;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin: 2rem;
    background-color: #D35400;

  }
  
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: grey;
  }

  .output-img{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1rem;
  } 

  .image {
    max-width: 80%;
    display: block;
    width: 200px;
    margin: auto;
    max-height: 60%;
    height: 145px;
}

.img-icon {
  width: 40px;
  padding: 0.3rem;
  height: 35px;
}